*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sh
/public/system/*
/public/uploaded*
/public/tmp*
/public/tex2img
/public/*
/coverage/
/spec/tmp/*
/config/database.yml*
/config/nor.yml
/config/routes.rb
/config/epostgrupper.yml
/config/client_secrets.json
/app/assets/stylesheets/^([0-9]*
*.old
*.slett
*.sql
*.bak
*.tbz2
*.tbz
*.tgz
*.sql-acii


**.orig
rerun.txt
pickle-email-*.html