<% for column in Article.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @article.send(column.name) %>
</p>
<% end %>


<%= link_to 'Edit', :action => 'edit', :id => @article, :method => 'put' %> |
<%#= link_to 'Back', :action => 'list' %>
