#innhold { border: 2px solid rgb(147, 168, 147); 
           border-bottom: 0px;
	   }

#columns { background: rgb(147, 168, 147) none repeat scroll 0%; }

/* banner - toppen */

#banner { 
          background: rgb(255, 255, 255) url(/uploaded_images/28-full.png) no-repeat scroll right top; 
          color: rgb(217, 238, 217); 
}


#banner img { float: left; }

 #navigasjon { 	       background: rgb(147, 168, 147) none repeat scroll 0%;
 color: white;
} 

#navigasjon a { color: rgb(200, 220, 200); }

#navigasjon a:hover { color: rgb(230, 245, 230); }

#navigasjon a:visited { color: rgb(200, 220, 200); }

 #toppmeny { 	       background: rgb(200, 220, 200) none repeat scroll 0%;
} 

 #navigasjon p { 	       font-color: #ff9999;
} 


/* Venstre spalte - meny */


#side { 
	  background: white;
	  }


#side a { color: rgb(10, 21, 10);
	  }

#side a:hover { color: rgb(55, 75, 55);
          text-decoration: underline;
	  }

/* Midtspalten - hovedinnhold */


/* Hoyre spalte */
#right_column_bunn { border: 1px solid rgb(117, 168, 117);
	  background: rgb(230, 240, 230) none repeat scroll 0%;
	  }

#right_column_innhold { 
	  background: rgb(200, 220, 200);
	  }

#right_column h1, #right_column_bunn h1 { font-family: arial, helvetica,sans-serif;
	  margin: 6pt 6pt 0em 6pt;
	  }

#right_column h2, #right_column_bunn h2 { font-family: arial, helvetica,sans-serif;
	  margin: 6pt 6pt 0em 6pt;
	  }

#right_column h3, #right_column_bunn h3  { font-family:arial, helvetica, sans-serif;
	  margin: 6pt 6pt 0em 6pt;
	  }

#right_column p, #right_column_bunn p { font-family:arial, helvetica, sans-serif;
	  margin: 6pt 6pt 0em 6pt;
	  }

/* Meny */
#m-tjafs, #m-system, #m-grupper, #m-artikler, .venstremenyboks1, .venstremenyboks2, .venstremenyboks3, .venstremenyboks4, .venstremenyboks5, .venstremenyboks6, .venstremenyboks7, .vmeny { 
	  border: rgb(147, 168, 147) solid 1px;
	  background: rgb(237, 254, 237);
          }

.vmeny-h { 
background: rgb(147, 168, 147);
                   }