body    { margin: 0;
	   padding:0;
	   background-color: white; 
	 }

#innhold { border: 2px solid rgb(17, 68, 17);
                   border-bottom: 0px;
	   position: relative;
	   }

#hovedinnhold {
background: none;
	  padding-top: 135px;
	  padding-left: 10em;
	  padding-right: 16em;
          padding-bottom: 0;
          margin: 0;       
	   }

#columns { background: white none repeat scroll 0%; }


/* banner - toppen */

#banner-logo {
          width: 119px;
          height: 80px;
          background: rgb(255, 255, 255) url(/images/logo-l.gif) no-repeat scroll left top; 
                  }

#banner { border: 0; 
          margin: 0; 
          padding: 0; 
          display: block; 
          background: rgb(255, 255, 255) url(/uploaded_images/30-full.jpg) no-repeat scroll right top; 
          position: absolute; 
          width: 100%; 
          height: 80px; 
          left: 0pt; 
          top: 0pt; 
          font-family: helvetica, arial, sans-serif; 
          color: rgb(117, 168, 117); 
	  z-index: 2;
}

#banner p, banner-bilde p, banner-logo p {margin:0; padding: 0; font-size: 0;}

#banner img { float: left; }

#toppmeny { margin: 0; 
               border: 0; 
	       position: absolute; 
	       top: 80px;
               height: 25px;
	       left: 0;
	       display: block;
	       background: rgb(255, 252, 200) none repeat scroll 0%;
	       font-family: arial, helvetica, sans-serif;
	       font-size: 100%;
	       font-weight: bold;
	       padding: .2em 0 0 0;
	       width: 100%;
	       text-align: left;
	       z-index: 3;
} 

#navigasjon { margin: 0; 
               border: 0; 
               border-bottom: 1px solid rgb(140, 127, 57);
	       position: absolute; 
	       top: 107px;
               height: 15px;
	       left: 0;
	       display: block; /* block;*/
	       background: rgb(255, 250, 100) none repeat scroll 0%;
	       font-family: arial, helvetica, sans-serif;
	       font-size: 75%;
	       font-weight: normal;
	       padding: .2em 0 0 0;
	       width: 100%;
	       text-align: left;
	       z-index: 4;
} 

#navigasjon p {
margin: 0;
padding: 0 0 0 .5em;
}

#navigasjon-sok {
 margin: 0 .5em;
 position: relative;
 top: -2px;
float: right;
font-size: 80%;
}

        #navigasjon li, #toppmeny li {
        display: inline;
        margin: 0 .5em;
        padding: 0;
        line-height: 1em;
} 

        #navigasjon ul,  #toppmeny ul {
        width: 80%;
        margin: 0;
        padding: 0;
        line-height: 1em;
} 

/* Venstre spalte - meny */


#side { position: absolute;
	  top: 0;
	  left: 0.5em;
	  bottom: 0;
	  background: white;
	  float: left;
	  padding: 135px 0 0 0;
	  width: 9em;
	  z-index: 1;
} 

#side .vmeny, #side .vmeny h5   {
	  font-family: arial, helvetica,sans-serif;
	  font-size: small;
          line-height: 1.4em;          
}

#side a { color: rgb(100, 87, 37);
	  font-family: arial, helvetica,sans-serif;
/*	  font-style: normal;
	  font-variant: normal;
	  font-weight: normal;*/
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
          font-size: normal;
          text-decoration: none; 
	  }

#side a:hover { color:  rgb(7, 28, 7);
                            text-decoration: underline;
	  }

#side ul {margin: 0;
                 padding: 0 0 0 8pt;
                 text-indent: -5pt;
                 list-style: none;
                 color: rgb(100, 87, 37);
                 left: 0;
}  

#side hr { border: 0;  color: black;
background-color: black;
height: 1px;
}

#side a:visited.vmeny-hlink, #side a:link.vmeny-hlink {color: white; font-weight: bold; padding-left: -1pt;}

#side * img {border: 0:
}

/* Midtspalten - hovedinnhold */


/* #main img {
          padding: 0 0.5em;
                      } */

/* #main { 
           } */

#main p { margin: 0;
	  padding: 0;
	  }

#main h1 { font-family: arial, helvetica,sans-serif;
	  /* font-weight: normal; */
	  font-size: 18pt;
          margin: 1em 0 0 0;
          padding-left: 0;
	  }

#main h2 { font-family: arial, helvetica,sans-serif;
	  /* font-weight: normal; */
	  font-size: 14pt;
	  margin: 0 0 0 0;
          padding-left: 0;
	  }

#main h3 { font-family: arial, helvetica,sans-serif;
	  /* font-weight: normal; */
	  font-size: 12pt;
	  margin: 1em 0 0 0;
          padding-left: 0;
	  }

#main a { 
          text-decoration: none;
                }

#main a:hover { 
          /* color: rgb(155, 155, 155); */
	  text-decoration: underline;
	  }

/* #main ul {margin-top: 0;
                  margin-bottom: 0; 
                  margin-left: 1em;
                  padding-left: 0; 
                  list-style-type: disc;
                  }                  
*/

/* #main li {                   margin-left: 0;
                  padding-left: 0;
} 
*/

#main pre { border: 1px dashed rgb(140, 127, 57); padding: .5em;}

#main hr {  border: 0; width: 90%; color: black;
background-color: black;
height: 1px;
}


#main th, #main td { border: black solid 1px; }

#main table { border-collapse: collapse; }

#main img {margin: 0;}

/* Midspalte-overst */

#right_column_bunn { border: 1px solid rgb(140, 127, 57);
	  margin: 0;
	  background: rgb(245, 245, 223);
	  font-size: 85%;
	  float: none;
          padding: 0;
	  width: auto;
	  clear: none;
}


/* Hoyre spalte */

#right_column { position: absolute;
	  top: 0;
	  right: 0.5em;
	  bottom: 0;
	  background: white;
	  float: right;
	  padding: 135px 0 0 0;
	  width: 15em;
	  z-index: 1;
	  }

#right_column_innhold {
          padding-top: 0; 
	  background: rgb(230, 208, 127);
          border: 1px solid rgb(140, 127, 57);
}

#right_column_bunn ul, #right_column ul {margin-top: 0;
                  margin-bottom: 0; 
                  margin-left: 2em;
                  padding-left: 0;
                  list-style-type: disc;
                  font-size: 10pt;
                  font-family: arial, helvetica,sans-serif;
                  }                  


#right_column h1, #right_column_bunn h1 { font-family: arial, helvetica,sans-serif;
	  font-size: 18pt;
          margin: 1em 6pt 0 6pt;
          padding-left: 0;
	  }

#right_column_bunn h1 { margin-top: 0.5em;
          }

#right_column h2, #right_column_bunn h2 { font-family: arial, helvetica,sans-serif;
	  font-size: 14pt;
	  margin: 1em 6pt 0 6pt;
          padding-left: 0;
	  }

#right_column h3, #right_column_bunn h3  { font-family:arial, helvetica, sans-serif;
	  font-size: 12pt;
	  margin: 1em 6pt 0 6pt;
          padding-left: 0;
	  }

#right_column p, #right_column_bunn p { font-family:arial, helvetica, sans-serif;
          font-size: 10pt;
	  margin: 0 6pt 0 6pt;  }



/* Andre ting */

.tekst { margin-top: 0px ! important;
	  margin-bottom: 0px;
	  }



#ErrorExplanation { border: 2px solid red;
	  padding: 7px 7px 12px;
	  width: 400px;
	  margin-bottom: 20px;
	  background-color: rgb(240, 240, 240);
	  }

#ErrorExplanation h2 { margin: -7px;
	  padding: 5px 5px 5px 15px;
	  text-align: left;
	  font-weight: bold;
	  font-size: 12px;
	  background-color: rgb(204, 0, 0);
	  color: rgb(255, 255, 255);
	  }

#ErrorExplanation p { padding: 5px;
	  color: rgb(51, 51, 51);
	  margin-bottom: 0pt;
	  }

#ErrorExplanation ul li { font-size: 12px;
	  list-style-type: square;
	  list-style-image: none;
	  list-style-position: outside;
	  }

#notice { border: 2px solid red;
	  padding: 0.5em;
	  margin-bottom: 2em;
	  background-color: rgb(240, 240, 240);
	  font-family: arial, helvetica, sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: bold;
	  font-size: smaller;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
	  }

a { text-decoration: none;
	  }

a:hover { text-decoration: underline;
	  }

a.addtocart { background: rgb(204, 238, 204) none repeat scroll 0%;
	  padding-left: 0.5em;
	  padding-right: 0.5em;
	  color: rgb(17, 68, 17);
	  font-weight: bold;
	  }

a.addtocart:hover { background: rgb(238, 238, 204) none repeat scroll 0%;
	  color: rgb(0, 0, 0);
	  }

* html .catalogentry { height: 1%;
	  }

.catalogentry { padding: 1ex 0ex;
	  }

.catalogentry img { float: left;
	  margin-right: 2em;
	  }

.catalogentry h3 { font-family: arial, helvetica, sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: bold;
	  font-size: larger;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
	  color: rgb(34, 136, 34);
	  margin-top: 0ex;
	  margin-bottom: 0.5ex;
	  }

.catalogentry p { font-family: arial, helvetica, sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: normal;
	  font-size: smaller;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
	  margin-bottom: 0.5ex;
	  }

.catalogprice { padding-right: 4em;
	  }

.carttitle { background: rgb(34, 136, 34) none repeat scroll 0%;
	  color: rgb(221, 255, 221);
	  font-family: arial, helvetica, sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: bold;
	  font-size: smaller;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
	  text-align: center;
	  }

.carttitle TD { padding-top: 0px;
	  padding-bottom: 0px;
	  }

#cartmenu { border-left: 1px dotted rgb(34, 136, 34);
	  float: right;
	  }

#totalcell { border-top: 1px solid rgb(34, 136, 34);
	  border-bottom: 2px solid rgb(34, 136, 34);
	  font-weight: bold;
	  text-align: right;
	  }

.separator { border-bottom: 1px dotted rgb(34, 136, 34);
	  clear: both;
	  }

/* Formatering av spesielle element */

/* Sudoku */

.sudoku-t table {border-collapse: collapse; }
table.sudoku-t {border-collapse: collapse; }
.sudoku-t td { text-align: center; width: 2em; font-weight: bold; font-family: sans-serif, arial, helvetica;}
.sudoku-t tr { vertical-align: middle; height: 2em;}
.sudoku-t em { font-weight: normal;}

.sudoku-a  { border-collapse: collapse;border: 1px solid black; text-align: center;}

.sudoku-b  {border-collapse: collapse; border: 2px solid black; background: rgb(235,235,200); text-align: center;}






/* Formatering av oppforinger */

#o-tekst p {
          padding-top: 0.7em;
                      }

#o-tekst UL {
          padding-top: 0.7em;
                      }


/* #o-tekst UL LI {
          padding-top: 0;
          margin-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
                      }
*/

.o-ingress {
          font-family: arial, helvetica,sans-serif;
	  font-weight: bold;
	  font-size: 110%;
          line-height: 1.4em;
          margin-top: 1em;
          margin-bottom: 1em;
          }          

.o-kilde  { 
          font-family: arial, helvetica,sans-serif;
	  font-weight: normal;
	  font-size: 80%;
          margin-top: 1em;
	  margin-bottom: 0em;
	  }

.b-kilde {display: none; }

.nyhet { margin-top: 1em;}

.nyhet h2 {margin: 0; padding: 0;}

.a-kilde { 
          font-family: arial, helvetica,sans-serif;
	  font-weight: normal;
	  font-size: 80%;
	  margin-bottom: -1.8em;
	  }


.o-dato, .a-dato, .inkludert-dato  { font-size: 80%; margin-bottom: 1.8em;
          font-family: arial, helvetica,sans-serif;}

.o-table { border:1px solid black; border-collapse: collapse; }

.o-table * { border:1px solid black; border-collapse: collapse; padding: 2pt}

.b-dato { font-size: 80%; margin-bottom: 0.5em;
          font-family: arial, helvetica,sans-serif;}

.o-pekere, inkludert-link, #a-pekere, .a-pekere { font-size: 90%; 
          font-family: arial, helvetica,sans-serif; }

 .b-pekere { font-size: 90%; 
                      font-family: arial, helvetica,sans-serif;
                   }

/*
.inkludert-headline { font-family: arial, helvetica,sans-serif;
	  /* font-weight: normal; */
	  font-size: 14pt;
	  margin: 1em 0 0 0;
          padding-left: 0;
	  }
*/
/* Formatering av meny */

#m-tjafs {  	  background: rgb(251, 253, 213);
          border: 1px solid rgb(140, 127, 57);
	  padding-left: 0;
	  padding-bottom: 0.5em;
          margin-bottom: 0.5em;
          }

.vmeny  {  	  background: rgb(251, 253, 213);
          border: 1px solid rgb(140, 127, 57);
	  padding-left: 0;
	  padding-bottom: 0.5em;
          margin-bottom: 0.5em;
          }

.vmeny-h { 
background: rgb(140, 127, 57);
                      padding: 3pt;
                      margin: 0;
                      font-family: arial, helvetica,sans-serif; 
                      color: white;
                      font-weight: bold;
                   }

.editmeny { 
                   float: right; 
                   background-color: white;
                   border: black solid 1px;
                   padding: 0 4pt;
                   margin-top: -.5em;
                   margin-right: -.2em; 
                   -moz-border-radius: 0.5em;
                   border-radius: 0.5em;
                   }

.blue{color: blue}
.green{color: green}
.red{color: red}

.error { text-align: center; 
             margin: 0 0 0.5em 0;
             border: 0.5em solid black;
             padding: 0.2em 0.5em 0 8em; 
             font-family: helvetica, sans-serif; 
             font-size: 100%; 
             font-weight: bold
}

#bunntekst {
              clear: both;
              border-top: 1px solid rgb(70, 47, 17);
              color:  rgb(70, 47, 17);
              font-size: smaller;
              font-family: arial, helvetica, sans-serif;
              padding-top: .5em;
              margin: 2em .5em;
                     }

#bunntekst p {
              margin: 0;
              padding: 1pt 1em;
              color:  rgb(70, 47, 17);
                        }

#bunntekst table {margin: 1em;
}

#bunntekst tr {margin: 1pt 1em; padding: 0;
}

#bunntekst td {margin: 0; padding: 0;
}

.nobreak { white-space: nowrap; vertical-align: top;
                 }

div.landsstyret div {margin: 10px 10px 10px 0;}
.landsstyret ul {margin: 10px; list-style-position: inside;}

.landsstyret img {margin: 0;padding: 0; border: 0;}


.landsstyret td {padding: 10px; vertical-align: top; font-size: 120%; font-family: arial, helvetica, sans-serif;}
.landsstyret td.first {margin: 0 ; padding: 0; background: gray; font-size: 0; }
.landsstyret td.first img {margin: 0;padding: 0; border: 0;}
.landsstyret td.first a img {margin: 0;padding: 0;}
#main .landsstyret td {border-left: 1px solid #DDD;}
#main .landsstyret td.first {border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; }
#main .landsstyret tr.top-row td {border-bottom: 1px solid #DDD;}
#main .landsstyret tr.middle-row td {border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;}
#main .landsstyret tr.bottom-row td {border-top: 1px solid #DDD;}

