<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="helesaken">

  <h1>404 Error: the requested document does not exist</h1>
  <p>URL: <%= @fraurl %></p>

You have reached this page because the requested document does not exist on this server. Please check that the URL is correct or inform the webmaster of the website of an incorrect link.
</div>