<% nr = 0 -%>
<% for article in @articles %>
  <% nr = nr + 1 -%>
    <%= text2html(article.ingress, article.cloth) %>

    <% if defined?(session[:noruser]) -%>
    <%if authorized_to?(:controller => 'articles', :action => 'edit') 
       linkon = 1  %>
      <span class="editmeny">
        <%= link_to "Edit", :controller => 'articles', :action => 'edit', :id => article.id %>
      </span>
    <% end %>
    <% end -%>

<% end %>
