body   { 
	margin:0;
	padding:0;
	background: url(/uploaded_images/924-full.png ) repeat ;
           }

#innhold {
	position: relative;
	width:940px;
	margin:10px auto 0 auto;
	border:0;
	box-shadow: 0px 2px 3px #000;
    -moz-box-shadow: 0px 2px 3px #000;
    -webkit-box-shadow: 0px 2px 3px #000;
                  }

/* 1b - Lenker */

a:link {color:blue; text-decoration: none;}
a:visited {color:blue; text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {color:red; text-decoration: none;}
a:active {color:red; text-decoration: underline;}


#hovedinnhold {
	background: white;
	padding: 0;
    margin: 0;
	   }

/* banner - toppen */

#banner { border: 0; 
          margin: 0; 
          padding: 0; 
          display: block; 
          position: absolute;
          background: #FF0000 ;
          width: 100%; 
          height: 60px; 
	  	  z-index: 2;
}


#banner-logo { height: 60px;
}

#banner-logo a {
          position: absolute; 
          width: 207px;
          height: 60px;
          background: url(/uploaded_images/533-full.png) no-repeat scroll left top; 
                  }
                                                
#banner-logo span {display: none;                                             
}           

#banner-bilde {          
          position: absolute;
          right: 0;
top: 0;
          width: 108px;
          height: 60px;
          background: #FF0000 url(/images/femstore.gif) no-repeat scroll right top; 

}



#banner img { float: left; }

#toppmeny { 
	margin: 0;
	border: 0; 
	height: 25px;
	left: 0;
	display: none; /* block;*/
	background: black none repeat scroll 0%;
	font-family: arial, helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	font-color: yellow;
	padding: .2em 0 0 0;
	width: 100%;
	text-align: left;
} 

#navigasjon { 
	margin: 0; 
	border: 0; 
	position: absolute; 
	top: 60px;
	height: 15px;
	display: block; /* block;*/
	background: black none repeat scroll 0%;
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: yellow;
	padding: .2em 0 0 0;
	width: 100%;
	text-align: left;
	text-indent:5px;
	z-index: 4;
} 

#navigasjon a, #navigasjon a:visited {
color: white;
}

#navigasjon a:hover, #navigasjon a:active {
color: yellow;
}

#navigasjon p {
margin: 0;
padding: 0 0 0 .5em;
}

#navigasjon-sok {
 margin: 0 .5em;
 position: relative;
 top: -2px;
float: right;
font-size: 80%;
}

        #navigasjon li, #toppmeny li {
        display: inline;
        margin: 0 .5em;
        padding: 0;
        line-height: 1em;
} 

        #navigasjon ul,  #toppmeny ul {
        width: 80%;
        margin: 0;
        padding: 0;
        line-height: 1em;
} 

/* Venstre spalte - meny */


#side { position: absolute;
		border:0;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  background: black;
	  float: left;
	  padding: 75px 0 0 0;
	  width: 120px;
	  z-index: 1;
	  }

#side * {
	  font-family: arial, helvetica,sans-serif;
      line-height: 1.4em;          
	  font-size: 8pt;
      font-weight: bold;
}

#side a { color: black;
	  font-family: arial, helvetica,sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: normal;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
          font-size: normal;
          text-decoration: none; 
	  }

#side a:hover { color:  #000;
                text-decoration: underline;
	  }

#side ul {margin: 0;
                 padding: 0;
                 list-style: none;
                 color: rgb(100, 87, 37);
                 left: 0;
}                  

#side li { 
	border-bottom: 1px solid black;
	padding:0 0 0 5px;
	}

#side hr { border: 0;  color: black;
background-color: black;
height: 1px;
}


#side a:visited.vmeny-hlink, #side a:link.vmeny-hlink {color: white; font-weight: bold; padding-left: -1pt;}

/* Midtspalten - hovedinnhold */


#main img {
          padding: 0;
                      }

 #main { padding: 0 0 0 10px;
           }

#main p, #o-tekst p { margin: 0;
          font-size: 13px;
	  padding: 0;
	  font-family:Arial, Helvetica, sans-serif;
	  }
	  

#main blockquote, #main q {
border-left: 1em solid #ccc;
margin: 1em 4em 1em 0;
padding: 3pt 16pt 6pt 3pt;
background: #f6f6f6;
quotes: "\00AB" "\00BB";
}
#main blockquote:before, 
#main q:before {
	content: '\00AB'; font-size: 14pt; font-weight: bold; color: #000; float: left; text-indent: -13pt;
border-left: 0;

}
#main blockquote:after, 
#main q:after {
	content: '\00BB'; font-size: 14pt; font-weight: bold; color: #000; float: right; margin-right: -11pt; margin-top: -1em;
}


#main h1, #o-tekst h1 { font-family: futura, arial, helvetica, sans-serif;
	  font-weight: bold;
          margin: 1em 0 0 0;
          padding-left: 0;
/*	  font-size: 14pt; */
	  }

#main h2, #o-tekst h2 { font-family: futura, arial, helvetica, sans-serif;
	  font-weight: bold;
	  margin: 1em 0 0 0;
          padding-left: 0;
/*	  font-size: 12pt; */
	  }

#main h3, #o-tekst h3 { font-family: futura, arial, helvetica, sans-serif;
	  /* font-weight: normal; */
/*	  font-size: 10pt; */
	  margin: 1em 0 0 0;
          padding-left: 0;
	  }

/*
#main a, #o-tekst a { 
          text-decoration: none;
                }

#main a:hover, #o-tekst a:hover { 
           color: rgb(155, 155, 155); 
	  text-decoration: underline;
	  }

*/
#main ul, #o-tekst ul {margin-top: 0;
                  margin-bottom: 0; 
                  margin-left: 1em;
                  list-style-type: disc;
          		   font-size: 13px;
                  }                  

#main li, #o-tekst li {         /*          margin-left: 0;
                  padding-left: 0;*/
text-indent: 2pt; 
          font-size: 13px;

}

#main pre, #o-tekst pre { border: 1px dashed rgb(140, 127, 57); padding: .5em;}

#main hr, #o-tekst hr {  border: 0; width: 90%; color: black;
background-color: black;
height: 1px;
}

/* Midspalte-overst */

#right_column_bunn { border: 1px solid red;
	  margin: 0;
	  background: LightYellow;
	  float: right;
          width: 15em;
          padding: 0;
	  clear: none;
}


/* - 8 - Forside / nyhetsside 
------------------------------------------------------------------------------*/

.link-par, .link-odd {
   padding: 4px 2px 0px 2px;
   margin: 0;
}

.link-par p, .link-odd p {padding: 0; margin: 0;}

.grid-100 {display: inline; float: left;width: 100%; border-top: 1px solid #DDD; margin:0; padding-left: 0;} 
.grid-100 img {width:795px;} 

.grid-100 h2 {font-size: 55px; 
         line-height: 1.05;}
.grid-66 h2 {font-size: 25px;}
.grid-33 h2 {font-size: 16px;}

#main .helesaken .grid-33 h2,
#main .helesaken .grid-66 h2,
#main .helesaken .grid-100 h2 {padding: 0; margin:0 0 2px 0;}

#main .helesaken .grid-33 p,
#main .helesaken .grid-66 p,
#main .helesaken .grid-100 p {padding: 0x; margin:0x;}

.grid-33 {width: 31%; border-top: 1px solid #DDD; margin-left: 10px; display: inline; float: left;} 

.grid-66 {display: inline; float: left; width: 61%; border-top: 1px solid #DDD; margin-left: 10px;} 

.grid-66.first,
.grid-33.first {margin-left: 0; border-left: none; padding-left: 0;}

.grid-100 .temalinker ul {margin: 0; padding: 0; font-size:9px;}
.grid-100 .temalinker li {display: inline;
font-size: 12px;
font-family: sans-serif;
padding: 0 5px;
 border-left: 1px solid #DDD; 
}
.grid-33 .temalinker li.temalink2, .grid-66 .temalinker li.temalink2, .grid-100 .temalinker li.temalink2
{border-left: 0;}

.grid-33 .temalinker ul, .grid-66 .temalinker ul {margin: 0; padding: 0;}
.grid-33 .temalinker li, .grid-66 .temalinker li {display: inline;
font-size: 10px;
font-family: sans-serif;
padding: 0 2px;	
border-left: 1px solid #DDD;
}


.link-par img, .link-odd img {
   float: left;
   border: 0;
   margin: 0 10px 2px 0;
}

.grid-100 h2, 
.grid-66 h2, 
.grid-33 h2 {
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-family: arial, helvetica, sans-serif;
            }
	
.info2 {width:200px; margin-left:70px;}

.inkludert-link {font-family: sans-serif;
font-size: 10px;}

.inkludert-ingress {font-size:13px; font-family:Arial, Helvetica, sans-serif; margin-bottom:10px;} 

.grid-a .grid-100,
.grid-a .grid-66,
.grid-a .grid-33 {border-top: none;}

.grid-a:after,
.grid-b:after,
.grid-c:after,
.grid-d:after,
.grid-e:after,
.grid-f:after,
.grid-g:after,
.grid-h:after,
.grid-i:after,
.grid-j:after  {content:".";display:block;height:0;clear:both;visibility:hidden;}

.grid-a,
.grid-b,
.grid-c,
.grid-d,
.grid-e,
.grid-f,
.grid-g,
.grid-h,
.grid-i,
.grid-j { margin-right: 0; 
          padding-right: 0;
         /* overflow: hidden; */
          zoom: 1;  /* IE */  }

/* 8b - Forside - lenker */

.forside a:link, 
.forside a:visited,
.forside a:hover,
.forside a:active {color: black;}
.forside a img {border: 0;}

/* Andre ting */

.tekst { margin-top: 0px ! important;
	  margin-bottom: 0px;
	  }



#ErrorExplanation { border: 2px solid red;
	  padding: 7px 7px 12px;
	  width: 400px;
	  margin-bottom: 20px;
	  background-color: rgb(240, 240, 240);
	  }

#ErrorExplanation h2 { margin: -7px;
	  padding: 5px 5px 5px 15px;
	  text-align: left;
	  font-weight: bold;
	  font-size: 12px;
	  background-color: rgb(204, 0, 0);
	  color: rgb(255, 255, 255);
	  }

#ErrorExplanation p { padding: 5px;
	  color: rgb(51, 51, 51);
	  margin-bottom: 0pt;
	  }

#ErrorExplanation ul li { font-size: 12px;
	  list-style-type: square;
	  list-style-image: none;
	  list-style-position: outside;
	  }

#notice { border: 2px solid red;
	  padding: 0.5em;
	  margin-bottom: 2em;
	  background-color: rgb(240, 240, 240);
	  font-family: arial, helvetica, sans-serif;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: bold;
	  font-size: smaller;
	  line-height: normal;
	  font-size-adjust: none;
	  font-stretch: normal;
	  }

/*a { text-decoration: none;
	  }

a:hover { text-decoration: underline;
	  }
*/

/* Formatering av spesielle element */

/* Sudoku */

.sudoku-t table {border-collapse: collapse; }
table.sudoku-t {border-collapse: collapse; }
.sudoku-t td { text-align: center; width: 2em; font-weight: bold; font-family: sans-serif, arial, helvetica;}
.sudoku-t tr { vertical-align: middle; height: 2em;}
.sudoku-t em { font-weight: normal;}

.sudoku-a  { border-collapse: collapse;border: 1px solid black; text-align: center;}

.sudoku-b  {border-collapse: collapse; border: 2px solid black; background: rgb(235,235,200); text-align: center;}






/* Formatering av oppforinger */

#o-tekst p {
          padding-top: 0.7em;
                      }


.o-ingress {
          font-family: arial, helvetica,sans-serif;
	  font-weight: bold;
	  font-size: 110%;
          line-height: 1.4em;
          margin-top: 1em;
          margin-bottom: 1em;
          }          

.o-kilde  { 
          font-family: futura, arial, helvetica, sans-serif;
		  font-weight: normal;
		  font-variant: small-caps;
	 	  font-size: 80%;
	      border-top: 1px solid black;
          margin:10px 10px 0 0;
	  }

.b-kilde {display: none; }

.a-kilde, .a-kilde * { 
          display: none;
          font-family: arial, helvetica,sans-serif;
	  font-weight: normal;
	  font-size: 8pt;
	  margin-bottom: -1.8em;
	  }


.o-dato, #a-dato, .a-dato, .a-dato *, a-dato p, o-dato p { 
font-size: 80&; 
margin-bottom: 1.8em;
		  font-variant: small-caps;

font-family: arial, helvetica,sans-serif;
}

.o-table { border:1px solid black; border-collapse: collapse; }

.o-table * { border:1px solid black; border-collapse: collapse; padding: 2pt}

.b-dato * { font-size: 80%; margin-bottom: 2pt;
          font-family: arial, helvetica,sans-serif;}

.o-pekere, #a-pekere, .a-pekere, .a-pekere * { font-size: 8pt; 
          font-family: arial, helvetica,sans-serif; }

 .b-pekere { font-size: 80%; 
                      font-family: arial, helvetica,sans-serif;
                   }

/* Formatering av meny */


#m-tjafs, .vmeny  {  	  
	background: #FFFFCC;
	border-left: 1px solid black;
	border-right:1px solid black;
	padding:0;
	margin:0;
          }

.vmeny-h { 
background: #FF0000;
                      padding: 3pt;
                      margin: 0;
                      font-family: arial, helvetica,sans-serif; 
                      color: white;
                      font-style: bold;
                   }

.editmeny { 
                   float: right; 
                   background-color: white;
                   border: black solid 1px;
                   padding: 0 4pt;
                   margin-top: -.5em;
                   margin-right: -.2em; 
                   -moz-border-radius: 0.5em;
                   border-radius: 0.5em;
                   }

.blue{color: blue}
.green{color: green}
.red{color: red}

.error { text-align: center; 
             margin: 0 0 0.5em 0;
             border: 0.5em solid black;
             padding: 0.2em 0.5em 0 8em; 
             font-family: helvetica, sans-serif; 
             font-size: 100%; 
             font-weight: bold
}

#bunntekst {
              clear: both;
              border-top: 1px solid  black;
              color:  black;
              font-size: 12px;
              font-family: futura, arial, helvetica, sans-serif;
              padding:10px 0 0 0;
			  margin:5px 0 15px 0;
                     }

#bunntekst p {
              margin: 0;
              padding: 1pt 1em;
                        }

#bunntekst table {margin: 1em;
}

#bunntekst tr {margin: 1pt 1em; padding: 0;
}

#bunntekst td {margin: 0; padding: 0;
}

.timeplan td {width:20%;}

#main .helesaken .edit-link {display: none;}
#main .helesaken .print-link {display:none;}
#main .helesaken .o-pekere {display:none;}
.helesaken {padding:80px 10px 0 120px; margin:0; }
.grid-33.info {padding: 3px; border: 3px solid black; background: #FFCC00;}
.grid-33.info p { font-weight:bold;}
.grid-33.info .inkludert-bilde {float: right; position: inline;}
.grid-33:after {clear: both}
.grid-33.info2 .inkludert-bilde {float: right; position: inline;}
#main .grid-33.info2 {font-family: arial, sans-serif; font-size: 10px}
.sitat {font-size: 9px;}
#main .forside h2 {margin-top: 0; padding-top: 0; }

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


/* Greyscale
Table Design by Scott Boyle, Two Plus Four
www.twoplusfour.co.uk
----------------------------------------------- */

.timeplan table {border-collapse: collapse;
border: 2px solid #000;
font: normal 80%/140% arial, helvetica, sans-serif;
color: #555;
background: #fff;}

.timeplan td, th {border: 1px dotted #bbb;
padding: .5em;}

.timeplan caption {padding: 0 0 .5em 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
text-transform: uppercase;
color: #333;
background: transparent;}

/* =links
----------------------------------------------- */

.timeplan table a {padding: 1px;
text-decoration: none;
font-weight: bold;
background: transparent;}

.timeplan table a:link {border-bottom: 1px dashed #ddd;
color: #000;}

.timeplan table a:visited {border-bottom: 1px dashed #ccc;
text-decoration: line-through;
color: #808080;}

.timeplan table a:hover {border-bottom: 1px dashed #bbb;
color: #666;}

/* =head =foot
----------------------------------------------- */

.timeplan thead th, .timeplan tfoot th {border: 2px solid #000;
text-align: left;
font-size: 1.2em;
font-weight: bold;
color: #333;
background: transparent;}

.timeplan tfoot td {border: 2px solid #000;}

/* =body
----------------------------------------------- */

.timeplan tbody th, tbody td {vertical-align: top;
text-align: left;}

.timeplan tbody th {white-space: nowrap;}

.timeplan .odd {background: #fcfcfc;}

.timeplan tbody tr:hover {background: #fafafa;}

/* .timeplan */

.nobreak { white-space: nowrap; 
                 }

.materiell {margin-top: 1em; border-collapse: collapse;}

.materiell td {border: 1px solid gray;}

.materiell th {border: 1px solid gray; background: #CCC;}

.hstilt {float: right;
            margin: -15pt 5pt 0 5pt;
            border: 0;
}

.hstilt img {border: 0;}            


.vstilt {float: left;
            margin: 0 5pt 0 5pt;
            border: 0;
}

.vstilt img {border: 0;}            


#hboks {display: inline; float: right; width: 30%; margin: 0 0 5px 5px; padding: 3px; border: 1px solid #BBB; background: #DDD;}

#hboks ul, #hboks ul li {list-style-type: none; margin: 0; padding: 0;} 