.vmeny-h { 
background: black;
                      padding: 3pt;
                      margin: 0;
                      font-family: arial, helvetica,sans-serif; 
                      color: white;
                      font-style: bold;
                   }