#checkedgroup {background: green}
#sentralgroup {background: red}
#oftenusedgroup {background: yellow}

 #versjontable { background: rgb(255, 235, 104);
    border-top: 1px solid rgb(34, 136, 34);
    font-family: "helvetica",sans-serif;
    border-bottom: 2px solid rgb(34, 136, 34);
    font-weight: normal;
    text-align: center;
    }

 #aktivversjon { background: red;
    font-weight: bold;
    }

 .articlesliste{ background: rgb(207,248,209);
    border-top: 1px solid rgb(34, 136, 34);
    font-family: "helvetica",sans-serif;
    font-size: 80%;
    border-bottom: 2px solid rgb(34, 136, 34);
    font-weight: normal;
    text-align: center;
    }
.articleslistetr1{background: rgb(207, 248, 209);}
.articleslistetr0{background: rgb(237, 250, 222);}



.articlesyntaxmeny { position: static;
    display:block;   top: 0;
	  right: 0.5em;
	  bottom: 0;
	  background: white;
	  float: right;   
          border: 1px solid green; 
          border-right: 0px;
          font-family: georgia, serif; font-size: 80%; 
          padding:0.5em; 
          margin: 0.5em -25% 0.5em 0.5em;
	  width: 20%;
	  z-index: 1;
	  }
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.infoboks {
  background-color: #eee;
  border: 1px dashed rgb(140, 127, 57);
  padding: 10px;
  font-size: 11px;
}