<h1>Glemt passordet?</h1>

<% form_tag url_for(:action => 'forgot_password') do %>
    
  <%= norsk2html("Oppgi e-post adressen du registrerte på denne kontoen. Hvis du har glemt det, må du kontakte administrator")%>
    
      <br />

  <%= text_field_tag :email, "", :size => 50 %><br />
    <%= submit_tag 'Trenger nytt passord' %>
<% end %>