<h1>Glemt passordet?</h1>
  <p>test</p>  

<% form_tag :url(:action => 'forgot_password') do %>
  <p>test</p>  
  <%= norsk2html("Oppgi e-post adressen du registrerte på denne kontoen. Hvis du har glemt det, må du kontakte administrator")%>
    
      <br />

  <%= text_field_tag :email, "", :size => 50 %><br />
    <%= submit_tag 'Trenger nytt passord' %>
<% end %>