<% form_tag do -%>
<p><label for="login">Logg inn</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Passord</label><br/>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
-->
<p><label for="remember_me">Husk meg:</label>
  <%= check_box_tag 'remember_me' %> </p>

<p><%= submit_tag 'Logg inn' %></p>
<br/>
<p>Har du glemt passordet ditt? <%= link_to 'Resett passordet', :action => 'forgot_password' %>
<% end -%>
