/* >>>>>>> CSS for kommunisme.no <<<<<<<<

Innhold
=======

1 - Overordnet
  1b - Lenker
2 - Hovedinnhold
  #main
3 - Banner
4 - Toppmeny 
  4b - Navigasjon
  4c - Navigasjon-søkeskjema
5 - Sidemeny (nederst på kommunisme.no)
6 - Bunn
7 - Standard
  7b - Edit-knapper
8 - Forside / nyhetsside
  8b - Forside - lenker
9 - Temaside
10 - Hele saken - view

*/


/* 1 - Overordnet 
------------------------------------------------------------------------------*/

body {background: black;
	margin: 0;
	padding: 0;
	}

#innhold {background: black; 
	position: absolute;
	left: 50%;
	width: 1299px;
	margin-left: -650px;
	} 

#side, 
#innhold:after, 
#main:after {clear:both;
	}


.error p {
    color: black;
    margin-left: 250px;
    background-color: white;
    width: 800px;
}


/* 1b - Lenker */

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:focus {color:red; text-decoration: none;}
a:active {color:red; text-decoration: underline;}



/* - 2 - Hovedinnhold
------------------------------------------------------------------------------*/

#main { background: white;
	margin-left: 251px;
	width: 797px;
	color: black; 
	}

  #main h1 {font-family: arial, helvetica, sans-serif;
            font-weight: bold;
/*            font-size: 24px; */
        }

  #main h2 {font-family: arial, helvetica, sans-serif;
            font-weight: bold;
/*            font-size: 18px; */
        }

  #main h3 {font-family: arial, helvetica, sans-serif;
/*            font-size: 14px;*/
            }


  #main .o-kilde,   #main div.o-kilde p {font-family: arial, helvetica, sans-serif; 
            font-size: 11px; 
            letter-spacing: +0.15em;
            padding: 1em 0 0 0;
            margin: 0;
            line-heigth: 0;
            color: #333; 
            }

  #main .o-pekere, #main .o-dato {font-family: arial, helvetica, sans-serif; 
            font-size: 11px; 
            padding: 0;
            margin: 0;
            line-height: 1;
            letter-spacing: +0.05em;
            color: #333; 
            }


/* - 3 - Banner 
------------------------------------------------------------------------------*/

#banner {background: black url(/uploaded_images/131-full.png) no-repeat top center;
	padding-top: 230px; 
	}

#banner-logo {height: 230px;
width: 230px; 
top: 0;
left: 65%;
position: absolute;
}


#banner-logo a {position: absolute; height: 230px; width: 230px;
}

#banner-logo span {display: none;}

/* - 4 - Elementer som gjemmes
------------------------------------------------------------------------------*/


#banner-bilde, 
#right_column, 
#right_column_bunn,
#sok-bunn {display: none;
	}

      /* #navigasjon gjemmes under 
      - 4 - Toppmeny - 4b - Navigasjon 
      */



/* - 4 - Toppmeny
------------------------------------------------------------------------------*/

#toppmeny { margin: -10px 0 0 251px;
	background: white;
	width: 787px;
	color: #555;    
	padding: 0 0 0 10px;
	border-bottom: 1px solid #EEE;
	}

  #toppmeny form {margin: 0;}

  #toppmeny ul {margin: 0; padding: 0; display: inline;
	}

  #toppmeny ul#bear {display: inline; position: relative; left: 50px;}

  #toppmeny li {display: inline;
	font-size: 12px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
	padding-bottom: 0;
	}

  /* Toppmeny linker */

  #toppmeny a:link,
  #toppmeny a:visited,
  #toppmeny a:hover { color: #555;    
	}

  #toppmeny a:focus,
  #toppmeny a:active { color: #AAA;
	}


/* 4b - Navigasjon */

#navigasjon {display: none;
	}

/* 4c - Navigasjon-søkeskjema */

#navigasjon-sok { margin: 0 .5em;
	font-family: sans-serif;
 	position: relative;
 	top: -2px;
	font-size: 8px;
	float: right;
	display: inline;
	}

#navigasjon-sok input { font-size: 8px; 
	font-family: sans-serif;
	line-height: 1;
	}


/* - 5 - Sidemeny
------------------------------------------------------------------------------*/

/* Sidemenyen er nederst på kommunisme.no */

#side { position: static;
	margin-left: 251px;
	width: 797px;
	border-top: 1px solid #999;
	margin-bottom: 0; 
	padding: 0; }

.vmeny { font-family: sans-serif;
	font-size: 10px;
	}

  .vmeny li { display: inline; 
	padding-left: 3px;
	padding-right: 3px;
	border-left: 1px solid #DDD;
	}

  .vmeny ul {margin: 0; 
	padding-left: 0;
	border-top: 1px solid #DDD;
	}

  .vmeny li.first {margin-left: 0; 
	padding-left: 0; 
	border-left: none; 
	}

#vmeny0 ul, 
#vmeny0 li,
#vmeny1 ul, 
#vmeny1 li {text-align: center; 
	margin-top: 0; 
	padding-top: 0; 
	background: #EEE;
	}

  #vmeny0 li.first,
  #vmeny1 li.first {margin-left: 0; 
	padding-left: 0;
	}



/* - 6 - Bunn
------------------------------------------------------------------------------*/

#bunntekst { background: url(/bunn.png) no-repeat bottom center;
	height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
        clear: both;
	}

  #bunntekst p { /* position: static; */

	margin-left: 251px;
	width: 797px;
	font-family: sans-serif;
	font-size: 9px;
	background: white;
        color: #AAA;
	}

#bunntekst1.bunntekstboks { margin-left: 251px; 
	width: 797px; 
	background: white url(/uploaded_images/134-full.png) no-repeat top center;
	padding-top: 50px; 
	text-align: center;
	}

  #bunntekst1.bunntekstboks p { margin: 0; 
	padding: 0;
	}




/* - 7 - Standard
------------------------------------------------------------------------------*/

.hstilt {float: right; 
         margin: 0 6pt 6pt 6pt;
	}

.vstilt {float: left;
         margin: 0 6pt 6pt 6pt;
	}

  .vstilt img, 
  .hstilt img {border: 0
	}

/* 7b - Edit-knapper */

.vmeny .editmeny,
.bunntekstboks .editmeny, 
#toppmeny .editmeny { border: 1px solid #CCC;
	padding: 0 3pt 0 3pt;
	font-size: 9px;
	font-family: sans-serif;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	}  
                       
.vmeny .editmeny {display: inline; float: right; margin: -10px 5px ; font-size: 7px; }
                                        
.bunntekstboks .editmeny {display: block;
	position: absolute;
	bottom: 19px; right: 265px; 
	}


#toppmeny .editmeny {display: block;
	position: absolute;
	right: 365px;
	top: 245px;
	}
                            
.bunntekstboks {background: /uploaded_images/134-full.png;
	}



/* - 8 - Forside / nyhetsside 
------------------------------------------------------------------------------*/


.link-par, .link-odd {
   padding: 4px 2px 0px 2px;
   margin: 0;
}

.link-par p, .link-odd p {padding: 0; margin: 0;}

.grid-100 {width: 98%; border-top: 1px solid #DDD; margin-left: 10px; padding-left: 0;} 

.grid-100 h2 {font-size: 60px; 
         line-height: 1.05;}
.grid-66 h2 {font-size: 30px;}
.grid-33 h2 {font-size: 18px;}

#main .helesaken .grid-33 h2,
#main .helesaken .grid-66 h2,
#main .helesaken .grid-100 h2 {padding: 0;}

#main .helesaken .grid-33 p,
#main .helesaken .grid-66 p,
#main .helesaken .grid-100 p {padding: 0; margin:0;}

.grid-33 {width: 31%; border-top: 1px solid #DDD; margin-left: 1%; display: inline; float: left;} 

.grid-66 {display: inline; float: left; width: 64%; border-top: 1px solid #DDD; margin-left: 1%;} 

.grid-66.first,
.grid-33.first {margin-left: 10px; border-left: none; padding-left: 0;}

.grid-100 .temalinker ul {margin: 0; padding: 0;}
.grid-100 .temalinker li {display: inline;
font-size: 12px;
font-family: sans-serif;
padding: 0 5px;
 border-left: 1px solid #DDD; 
}
.grid-33 .temalinker li.temalink2, .grid-66 .temalinker li.temalink2, .grid-100 .temalinker li.temalink2
{border-left: 0;}

.grid-33 .temalinker ul, .grid-66 .temalinker ul {margin: 0; padding: 0;}
.grid-33 .temalinker li, .grid-66 .temalinker li {display: inline;
font-size: 10px;
font-family: sans-serif;
padding: 0 2px;
border-left: 1px solid #DDD;
}


.link-par img, .link-odd img {
   float: left;
   border: 0;
   margin: 0 10px 2px 0;
}

.grid-100 img {margin: 0 0 0 0;
               float: none;}

.grid-100 h2, 
.grid-66 h2, 
.grid-33 h2 {
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-family: arial, helvetica, sans-serif;
            }

.inkludert-link {font-family: sans-serif;
font-size: 10px;}

.grid-a .grid-100,
.grid-a .grid-66,
.grid-a .grid-33 {border-top: none;}

.grid-a:after,
.grid-b:after,
.grid-c:after,
.grid-d:after,
.grid-e:after,
.grid-f:after,
.grid-g:after,
.grid-h:after,
.grid-i:after,
.grid-j:after  {content:".";display:block;height:0;clear:both;visibility:hidden;}

.grid-a,
.grid-b,
.grid-c,
.grid-d,
.grid-e,
.grid-f,
.grid-g,
.grid-h,
.grid-i,
.grid-j { margin-right: 0; 
          padding-right: 0;
         /* overflow: hidden; */
          zoom: 1;  /* IE */  }

/* 8b - Forside - lenker */

.forside a:link, 
.forside a:visited,
.forside a:hover,
.forside a:active {color: black;}
.forside a img {border: 0;}

/* - 9 - Temaside
------------------------------------------------------------------------------*/

#temaside {margin: 0 10px 0 10px;
	}

  #temaside h1 {font-size: 0; 
	position: absolute; 
	left: -50%;
	}

.tema-artikkel {padding: 20px; 0 0 0;
	margin: 0;
	}

  .tema-artikkel h2 {font-size: 20px; 
	margin: 0;
	padding: 5px 0 0 0;
	}

.tema-artikkel p {margin: 0;
	padding: 0;
	}


/* - 10 - Hele saken - view
------------------------------------------------------------------------------*/

.helesaken {margin: 0;
	padding: 10px 10px 0 10px;
	}

  #main .helesaken h1 {padding: 10px 10px 0 0;
        margin: 0;
	font-size: 50px;
	}

  #main .helesaken h2,
  #main .helesaken h3 {padding: 10px 10px 0 0;
        margin: 0;
	}

  #main .helesaken p {padding: 0 10px 10px 0;
        margin: 0;
	}

  .helesaken h1 span {display: block;
	}
  .helesaken h1 span.caps {display: inline;}

  #main .helesaken .o-ingress p {margin-top: 0; 
	padding-top: 5px; 
	font-family: arial, sans-serif;
	font-weight: 600;
        width: 85%;
	}


  #main .helesaken .print-link, 
  #main .helesaken .edit-link {float: right; display: inline;
	font-family: sans-serif;
	font-size: 9px;
	border: 1px solid blue;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin-right: 4px;
        padding: 0 4px;
        text-align: center;
	}

  .helesaken quote { font-style: italic; 
	}

  #main p.pre {font-family: monospace;
         white-space: pre;
         padding: 0;
 }

  .helesaken pre,
  p.pre {border: 1px dashed #DDD;
                  border-left: 3px solid #DDD;
                  background: #FFF;
                  padding-left: 2px;

                  ; }



